<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>For U my Vampire</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Short+Stack&amp;family=Homemade+Apple&amp;display=swap'>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <audio id="bg-music" autoplay loop >
    <source src=".\images\O_Tere_Sang_Yaara_Full_Karaoke_[_YouConvert (mp3cut.net).mp3" type="audio/mp3">
  </audio>
  
  <div class="heart-background"></div>

  <div class="paper heart" onclick="redirectToSample()"></div>

  <div class="paper image" >
    <p>And I've fallen in</p>
    <p>Love with You 😍</p>
    <img src="images/1.jpg" />
  </div>

  <div class="paper image" >
    <img src="images/2.jpg" />
  </div>

  <div class="paper image3" >
    <p>tumhari ak gumpy se photo dekhar</p>
    <p>tumse milkar mene manifest kiya that </p>
    <p>U will be my future wife </p>
    <img src="images/3.png" />
  </div>

  <div class="paper red" >
    <p class="p1">And My Favorite</p>
    <p class="p2">Person 😍</p>
  </div>

  <div class="paper">
    <p class="p1">THIS IS AN SMALL GIFT</p>
    <p class="p1">TO MY Vampire<span style="color: red;">❤️</span></p>
  </div>

  <div class="paper" >
    <p class="p1">Drag the papers to move!</p>
  </div>
  
  <script src="/js/script.js"></script>
  
  <script>
    function redirectToSample() {
      window.location.href = 'sample.html';
    }
    
  </script>
</body>
</html>
