<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOR U VAMPARIE</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Short+Stack&amp;family=Homemade+Apple&amp;display=swap'>
    <link rel="stylesheet" href="/css/xyz.css">
</head>
<body>
    <audio id="bg-music" autoplay loop>
        <source src=".\images\O_Tere_Sang_Yaara_Full_Karaoke_[_YouConvert (mp3cut.net).mp3" type="audio/mp3">
      </audio>
      
    <div class="container">
        <div class="envelope-wrapper">
            <div class="envelope">
                <div class="letter">
                    <div class="text">
                        <strong>My vamparie</strong>
                        <p>
                            Not only will i always love You, i will continue to fall in love with u every single day,
                            for as long as i can remember as a silly boy in a love with u.
                            HAPPY VALINTINE DAY
                        </p>
    
                    </div>
                </div>
            </div>
            <div class="heart"></div>
        </div>
    </div>

    <script>
  
        const envelope = document.querySelector('.envelope-wrapper');
        envelope.addEventListener('click', () => {
            envelope.classList.toggle('flap');
        });
     
    </script>
</body>
</html>
